<div
  class="flex flex-col max-sm:flex-row gap-2 mx-auto bg-white shadow-md border min-w-[80%] relative border-gray-200 rounded-lg p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
  <button class="opacity-80 hover:opacity-100 transition-all absolute left-4 top-2" onclick="goBack()">
    <i class="fa-solid fa-circle-left"></i>
    Volver
  </button>
  <h1 class="text-4xl w-max self-center">{{product.title}}</h1>
  <article class="flex w-full gap-4 p-8">

    <div id="images" class="overflow-clip relative w-2/4 ">
      <div>
        <img src="{{product.images}}" alt="{{product.title}}" id="main-image"
          class=" aspect-square object-cover shadow-md">

      </div>

      <div id="thumbnails-container" class="p-2 flex gap-4 max-sm:flex-row ">
        {{#each product.images}}
        <img
          class="thumbnail shadow-md w-14 h-14 aspect-square object-cover hover:scale-110 transition-transform cursor-pointer"
          src="{{this}}" alt="{{product.title}}">
        {{/each}}
      </div>
    </div>




    <div class="flex flex-col w-2/4 gap-4">
      <p>Descripción: {{product.description}}</p>
      <hr>
      <p>Publicado por: {{product.ownerName}}</p>
      <p>Código: {{product.code}}</p>
      <p>Categoría: {{product.category}}</p>
      <p>Precio: ${{product.price}}</p>
      <p>Stock: {{product.stock}}</p>
    </div>
  </article>
</div>
<script>
  function goBack() {
    window.history.back();
  }

  function generateThumbnails(images) {
    const thumbnailsContainer = document.getElementById('thumbnails-container');

    images.forEach((imageSrc, index) => {
      const imgElement = document.createElement('img');
      imgElement.src = imageSrc;
      imgElement.alt = `Imagen ${index + 1}`;
      imgElement.classList.add('thumbnail'); // Añade la clase para estilos
      imgElement.style.cursor = 'pointer'; // Hace que el cursor sea un puntero para indicar que es clickable
      imgElement.onclick = function () { setMainImage(imageSrc); }; // Establece la imagen principal al hacer clic

      thumbnailsContainer.appendChild(imgElement);
    });
  }

  document.getElementById('thumbnails-container').addEventListener('click', function (event) {
    // Comprobamos si el clic fue sobre un thumbnail
    if (event.target.classList.contains('thumbnail')) {
      const newSrc = event.target.src;
      document.getElementById('main-image').src = newSrc; // Actualizamos la imagen principal
    }
  });

</script>